<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<th:block th:fragment="header">
		<nav class="navbar navbar-inverse navbar-static-top navbar-light"
			style="background-color: #e3f2fd;">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/user}"> <img
						th:src="@{/img/logo.png}" alt="coladay-booking pepsi logo" style="width:50px;height:50px;"/> 
					</a>
					<a class="navbar-brand" th:href="@{/user}"> <img
						th:src="@{/img/logo2.png}" alt="coladay-booking coke logo" style="width:50px;height:50px;"/> 
					</a>
				</div>
			</div>
		</nav>
		<br/>
	</th:block>
</body>
</html>
